<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Using Javascript to Make a Request</h1>
               
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

                <article>
                    <header>
                        <h1>JavaScript</h1>
                        <p>Because of the nature of this specific API, our code will be slightly more complicated.</p>
                        <p>Lets see what a basic request will look like:</p>
                        <pre>
                            <code>
        var requestify = require('requestify');
        var express = require('express');


        app.get('/API-Step3',function(req, res){
              var thing = [];
              var container = {};
  
              requestify.get('http://api.brewerydb.com/v2/beer/Yq3v6n?key=57ac3d20257053737a469c6962fd60be').then(function(response) {
                // Get the response body (JSON parsed or jQuery object for XMLs)
                response.getBody();
                var everything = JSON.parse(response.body);
                for(var d in everything.data){
                thing.push({'name': d, 'value':everything.data[d]});
        
                }
                container.Listdata = thing;   
                res.render('API-Step3', container);
            });
        });
                            </code>
                        </pre>
                        <p>There is not too much going on here, but it might still be a little confusing so I will go through everything</p>
                    </header>
                    <section>
                        <h2>The Vars and App.get</h2>
                        <p>These are all of the variables that you I am using to make this code work. <code>app.get('/API-Step3',function(req, res){</code> This is a node.js package called express, I am using this and Handlebars to organize everything. This line is here to move everything I gather onto the web page.</p>
                    </section>
                    <section>
                        <h2>Requestify</h2>
                        <p><code>requestify.get('http://api.brewerydb.com/v2/beer/Yq3v6n?key=57ac3d20257053737a469c6962fd60be').then(function(response) {</code> this is the part of the code that sends a request to the api for the information that we want. the <code>response.getBody()</code> gets all of the information into JSON. After that we need to parse everything which is why we use JSON.parse. I then organize everything nicely with the for loop assigning everything a lable.</p>
                    </section>
                    <footer>
                        <p>Because of the structure of this API, I cant just create a request. I have to go through a server. Here is the information that I can get from the server in a list</p>
                    <ul>
                        {{#each Listdata}}
                            <li>{{this.name}}: {{this.value}}
                        {{/each}}
                    </ul>

                    </footer>
                </article>
                <nav>
                    <ul>
                        <li><a href="API-Step2"><<< Prev</a></li>
                        <li><a href="index">Home</a></li>
                        <li><a href="API-Step4">Next >>></a></li>
                    </ul>
                </nav>
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>© Maxx Kozec 2016</h3>
            </footer>
        </div>
        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        
    </body>
</html>