
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Step 1: Register and Get a Key</h1>
               
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

                <article>
                    <header>
                        <h1>Register</h1>
                        <p>Before you starts using this API, you have to register to use a key that will be provided to you through the main ste. You can register <a href="https://www.brewerydb.com/auth/signup">here.</a> It doesn't take too long and after you can get access to the everything.</p>
                    </header>
                    <section>
                        <h2>Registering for an API key</h2>
                        <p>Now you will have to get an API key, this is basically your very own secret code to get access to all the information on beer on BrewersDB server. From their <a href="http://www.brewerydb.com/developers/apps">Apps Page</a> you can get the key by clicking the Register A New App button.</p>
                        <img src="img/Register.png">
                        <p>You don't need to have a website, but if you really want one, you can make one through github. <a href="https://pages.github.com/">This</a> is a handy guide on how to make one.</p>
                        <p>After this, you should have your key and now have access to the database. now we will start to get into the nitty gritty of the API and actually make an app.</p>
                    </section>
                </article>
                 <nav>
                    <ul>
                        <li><a href="index"><<< Prev</a></li>
                        <li><a href="API-Step2">Next >>></a></li>
                    </ul>
                </nav>

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>© Maxx Kozec 2016</h3>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/main.js"></script>

